prebuilt/*.img filter=lfs diff=lfs merge=lfs -text
prebuilt/kernel filter=lfs diff=lfs merge=lfs -text
prebuilt/*.cpio filter=lfs diff=lfs merge=lfs -text
prebuilt/kernel !text !filter !merge !diff
prebuilt/*.img !text !filter !merge !diff
prebuilt/*.cpio !text !filter !merge !diff
